/* colors: #E96774,#FBFF77, #80FFB9 */
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.material-symbols-outlined.icon {
  font-size: 4rem;
  color: black;
  animation: jump 2s ease-in-out infinite;
}

#section1 {
  background-color: #e96774;
}
#section2 {
  background-color: #fbff77;
}
#section3 {
  background-color: #80ffb9;
}

@keyframes jump {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    transform: translateY(40px);
    opacity: 0.2;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
